/* all elements */

*{
    font-family: 'Roboto Mono';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* home-intro */

.home-particles {
  width: 100%;
  height: 100%;
}

#particles {
    background-color: #222831;
    z-index: 0;
}

.home-intro {
  position: absolute;
  text-align: center;
  bottom: 40%;
  width: 40%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .home-intro {
    width: 100%;
  }

  .home-intro_links-container {
    margin: 0;
    padding: 0;
  }
}

.home-intro_typed-static {
  display: block;
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
}

.home-intro_typed-text {
  display: inline;
  font-size: 20px;
  color: white;
}

.typed-cursor {
  opacity: 1;
  color: white;
  animation: blink 1s infinite;
  font-size: 20px;
}

@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.box {
  position:relative;
  vertical-align: middle;
  color: white;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid white;
  -webkit-transition: 0.5s;
}

.box:hover {
  border: 2px solid #0b7;
  color: #0b7;
}

.box::before, .box::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.home-intro_links-item {
  margin-top: 40px;
}

/* bio */

.bio_container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 100%;
}

.bio_picture {
  width: 400px;
  height: 550px;
  margin: 90px 160px;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  background-image: url("../static/images/bio.jpg");
}

.link {
  color: #0b7;
}

.link:hover {
  text-decoration: underline;
}

.bio_description {
  width: 500px;
  color: #222831;
  line-height: 1.5em;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .bio_container {
    flex-direction: column;
  }

  .bio_picture {
    width: 250px;
    margin: 10px;
  }

  .bio_description {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
  }
}

/* projects */

#projects {
  background-color: #222831;
}

.projects_header {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 60px;
}

.projects_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}

.ocp {
  background-image: url("../static/images/ocp.jpg");
}

.nomad {
  background-image: url("../static/images/nomad.jpg");
}

.mentorseas {
  background-image: url("../static/images/mentorseas.jpg");
}



.projects_item {
  position: relative;
  width: 350px;
  height: 400px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all .3s ease-in-out;
  background-color: grey;
}

.projects_item:hover {
  transform: scale(1.04);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
  transition: all .3s ease-in-out;
}

@media only screen and (max-width: 768px) {
  .projects_container {
    margin-top: 40px;
  }

  .projects_item {
    width: 140px;
    height: 140px;
  }
}


/* Contact */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

#contact-input {
  margin-bottom: 10px;
}

input[type="email"]:focus {
  border-color: blue;
}

textarea:focus {
  border-color: blue;
}
